/* Font for "The Book Store" heading */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header / nav styling */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0 0 0;
}

.logo {
  display: none;
}

.header-wrapper > h1 {
  margin: 0;
  font-family: "Open Sans";
}

.desktop-social-icons {
  display: none;
}

nav {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.7em;
}

nav > .checkbox {
  position: absolute;
  top: 0;
  z-index: 2;
  cursor: pointer;
  width: 3em;
  height: 3em;
  opacity: 0;
  top: 80px;
}

.nav-links {
  display: none;
}

.nav-links > a {
  font-size: 1.2em;
  margin-top: 0.25em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: #000;
  padding: 0.2em 0.5em;
  border-radius: 6px;
  transition: 0.3s;
}

.active {
  background-color: rgb(134, 208, 134, 50%);
}

.hamburger-container {
  display: block;
  height: 2.8em;
  width: 2.2em;
  position: absolute;
  top: 80px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1em;
}

.hamburger-container .line {
  display: block;
  height: 0.3em;
  width: 100%;
  border-radius: 0.5em;
  background: #000000;
}

/* Hamburger transistion to X */
nav > .hamburger-container .line-one {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
nav > .hamburger-container .line-two {
  transition: transform 0.2s ease-in-out;
}
nav > .hamburger-container .line-three {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
nav > .checkbox:checked + .hamburger-container .line-one {
  transform: rotate(45deg);
}
nav > .checkbox:checked + .hamburger-container .line-two {
  transform: scaleY(0);
}
nav > .checkbox:checked + .hamburger-container .line-three {
  transform: rotate(-45deg);
}

/* Open menu items */
nav > .checkbox:checked ~ .nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-content {
  margin: 2em;
}

.items-container {
  display: flex;
  flex-direction: column;
}

.featured-container {
  background-color: #e2dfdf;
  margin-bottom: 1em;
  border-radius: 10px;
}

.featured-container > h2 {
  text-align: center;
  padding: 0.5em;
}

.featured-cards {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5em;
}

.featured-card {
  margin: 0.5em 1em;
  align-items: center;
  padding: 0.5em 1em;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
}

.featured-card:hover {
  background-color: rgb(134, 208, 134, 50%);
}

.featured-card > h3 {
  margin-bottom: 0.5em;
}

.featured-authors {
  font-style: italic;
}

.featured-pages {
  font-style: italic;
  margin-bottom: 0.5em;
}

.item-content > h3 {
  margin-bottom: 0.5em;
}

.item-authors {
  font-style: italic;
}

.item-pages {
  font-style: italic;
  margin-bottom: 0.5em;
}

.is-selected {
  background-color: rgb(134, 208, 134, 50%);
}

.items-cards {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.item-card {
  margin: 0.5em 1em;
  padding: 0.5em 1em;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
}

.item-card:hover {
  background-color: rgb(134, 208, 134, 50%);
}

.item-content {
  text-align: left;
  margin-left: 0.75em;
}

.none-available-content {
  text-align: center;
  font-size: x-large;
  font-weight: 500;
}

.bg-salmon {
  background-color: salmon;
}

.mobile-social-icons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-size: xxx-large;
}

.mobile-social-icons > a {
  padding: 0 0.5em;
  color: #000;
}

/* tablet - desktop breakpoint */
@media (min-width: 700px) {
  .hamburger-container {
    display: none;
  }

  .nav > .checkbox {
    display: none;
  }

  .mobile-social-icons {
    display: none;
  }

  nav {
    margin: 0;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
  }

  .nav-links > a {
    border: 1.5px solid #000;
    box-shadow: 2px 2px #000;
    padding: 0.5em;
    font-size: 1.2em;
    border-radius: 0;
  }

  .nav-links > a:hover {
    background-color: rgb(134, 208, 134, 50%);
  }

  .header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .logo {
    display: flex;
    height: 100px;
    width: auto;
  }

  .header-wrapper > h1 {
    font-size: 1.75em;
    margin: 0 0.5em;
  }

  .desktop-social-icons {
    display: flex;
    flex-direction: row;
    font-size: x-large;
  }

  .desktop-social-icons > a {
    padding: 0 0.2em;
    color: #000;
  }

  .category-content {
    margin: 2em 6em;
  }

  .all-items-container {
    display: flex;
    flex-direction: row;
    margin: 0 2em;
  }

  .featured-container {
    order: 2;
    flex: 1;
  }

  .featured-card {
    height: 400px;
    display: flex;
    flex-direction: column;
  }

  .featured-card > img {
    order: 4;
  }

  .items-container {
    flex: 2;
  }

  .items-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .item-card {
    flex-shrink: 1;
    max-width: 100%;
  }
}

@media (min-width: 1000px) {
  .item-card {
    max-width: 45%;
  }

  .all-items-container {
    margin: 0 4em;
  }

  .featured-card {
    height: 300px;
  }

  .featured-description {
    margin-bottom: 0.5em;
  }
}
